In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [2]:
es_data = pd.read_csv('data/raw_data/2023년도_학교기본정보(초)_전체.csv')
nav_data = pd.read_csv('data/raw_data/apt_info_data_raw.csv', encoding='cp949')

In [4]:
es_data['학교도로명 주소'] = es_data['학교도로명 주소'].fillna('충청남도 당진시')

In [5]:
es_data['지역'] = es_data['학교도로명 주소'].apply(lambda x: ' '.join(x.split()[:2-x.startswith('세종')]))

In [6]:
es_data['학교명'] = es_data['지역'] + ' '+ es_data['학교명']

In [7]:
for s in ['특별','자치','광역']: es_data['학교명'] = es_data['학교명'].str.replace(s,'')

In [8]:
for c in ['서울', '광주', '대전', '울산']: 
    es_data['학교명'] = es_data['학교명'].str.replace(c+' ', c+'시 ')
for k,v in {'경기 ':'경기도 ', '전북 ':'전라북도 ', '경남 ':'경상남도 '}.items():
    es_data['학교명'] = es_data['학교명'].str.replace(k,v)

In [9]:
es_data['학교명'].value_counts()[es_data['학교명'].value_counts()>1].shape

(0,)

In [10]:
nav_es = nav_data[nav_data['세대수']>=100][['아파트명','법정동주소','도로명주소','초등학교_학군정보']].drop_duplicates('초등학교_학군정보').dropna()

In [11]:
nav_es['초등학교명'] = nav_es['도로명주소'].apply(lambda x: ' '.join(x.split()[:2-x.startswith('세종')])) + ' ' + nav_es['초등학교_학군정보']

In [12]:
nav_es['초등학교명'].value_counts()[nav_es['초등학교명'].value_counts()>1].shape

(0,)

In [13]:
diff = set(nav_es['초등학교명']) - set(es_data['학교명'])
diff

{'경기도 과천시 해오름초등학교',
 '경기도 의정부시 서울누원초등학교',
 '광주시 남구 광주양동초등학교',
 '광주시 동구 광주중흥초등학교',
 '대구시 동구 대구동인초등학교',
 '대구시 북구 대구달성초등학교',
 '대구시 북구 대구인지초등학교',
 '대구시 북구 대구종로초등학교',
 '대구시 수성구 대구삼덕초등학교',
 '대구시 중구 대구대성초등학교',
 '대전시 대덕구 대전용전초등학교',
 '대전시 대덕구 동대전초등학교',
 '대전시 동구 대전동산초등학교',
 '대전시 동구 대전선화초등학교',
 '대전시 서구 흥도초등학교',
 '부산시 금정구 교동초등학교',
 '부산시 금정구 명서초등학교',
 '부산시 남구 남천초등학교',
 '부산시 남구 성북초등학교',
 '부산시 남구 성서초등학교',
 '부산시 동구 좌성초등학교',
 '부산시 동래구 거학초등학교',
 '부산시 동래구 반안초등학교',
 '부산시 동래구 창신초등학교',
 '부산시 해운대구 위봉초등학교',
 '서울시 강북구 서울길음초등학교',
 '서울시 강북구 서울백운초등학교',
 '서울시 강북구 서울쌍문초등학교',
 '서울시 강서구 서울강신초등학교',
 '서울시 강서구 서울신강초등학교',
 '서울시 강서구 서울양동초등학교',
 '서울시 관악구 서울보라매초등학교',
 '서울시 관악구 서울행림초등학교',
 '서울시 광진구 서울경수초등학교',
 '서울시 광진구 서울성수초등학교',
 '서울시 광진구 서울화양초등학교',
 '서울시 구로구 서울가산초등학교',
 '서울시 금천구 서울영일초등학교',
 '서울시 노원구 서울신화초등학교',
 '서울시 노원구 서울창일초등학교',
 '서울시 동대문구 서울석계초등학교',
 '서울시 마포구 서울창서초등학교',
 '서울시 서대문구 서울응암초등학교',
 '서울시 서초구 서울반포초등학교',
 '서울시 성동구 서울신당초등학교',
 '서울시 성북구 서울명신초등학교',
 '서울시 종로구 서울광희초등학교',
 '서울시 종로구 서울덕수초등학교',
 '울산시 남구 굴화초등학교',
 '울산시 남구 무거초등학교',
 '인천시 남동구 인천경원초등학교',
 '인천시 남동구 인천동암초등학교',
 '인천시 미추홀구 인천관교초등학교',
 '인천시 미추홀구 인천신광초등학교',
 '인천시 미추홀구 인천신선초등학교',
 '인천시 미추홀구 인천용현남초등학교',
 '인천시 미추홀구 인천인주초등학교',
 '인천시 미추홀구 인천창영초등학교',
 '전라북도 군산시 군산아리울초등학교',
 '충청남도 아산시 천안서당초등학교',
 '충청남도 아산시 천안쌍정초등학교'}

In [19]:
es_data['학교명'] = es_data['학교명'].apply(lambda x: ' '.join(x.split()[::2]) if x.split()[-1] in diff else x)
nav_es['초등학교명'] = nav_es['초등학교명'].apply(lambda x: ' '.join(x.split()[::2]) if x.split()[-1] in diff else x)

In [20]:
es_data['학교명'].value_counts()[es_data['학교명'].value_counts()>1].shape

(0,)

In [21]:
es_data['학교명'].value_counts()[es_data['학교명'].value_counts()>1]

Series([], Name: count, dtype: int64)

In [22]:
nav_es[nav_es['초등학교명']=='강원도 교동초등학교']

Empty DataFrame
Columns: [아파트명, 법정동주소, 도로명주소, 초등학교_학군정보, 초등학교명]
Index: []

In [17]:
nav_es['초등학교명'].value_counts()[nav_es['초등학교명'].value_counts()>1].shape

(0,)

In [25]:
len(set(es_data['학교명']))

6317

In [18]:
diff = set(nav_es['초등학교명']) - set(es_data['학교명'])
diff

{'경기도 서울누원초등학교',
 '부산시 위봉초등학교',
 '부산시 좌성초등학교',
 '서울시 서울반포초등학교',
 '서울시 서울화양초등학교',
 '전라북도 군산아리울초등학교'}

좌성초등학교 - 폐교

위봉초등학교 - 폐교

서울화양초등학교 - 폐교

서울반포초등학교 - 재건축으로 인한 휴교 -> 수작업으로 데이터 추가

서울누원초등학교 - 아파트 위치는 경기도지만 서울 초등학교 배정 -> 결합 시 예외처리

In [19]:
nav_es[nav_es['초등학교명'].str.contains('아리울')]

,아파트명,법정동주소,도로명주소,초등학교_학군정보,초등학교명
173311,군산수송세영리첼,전라북도 군산시 수송동 830-1,전라북도 군산시 수송동로 100,군산아리울초등학교,전라북도 군산아리울초등학교

In [20]:
idx = es_data[es_data['학교명'].str.contains('아리울')].index
es_data.loc[idx, '학교명'] = '전라북도 군산아리울초등학교'

In [21]:
es_data = es_data[['학교명','위도','경도']]
es_data.loc[len(es_data)] = ['서울시 서초구 서울반포초등학교', 37.5027, 126.9911]
es_data

                          학교명         위도          경도
0       서울시 서초구 서울교육대학교부설초등학교  37.490739  127.015424
1     서울시 종로구 서울대학교사범대학부설초등학교  37.577017  127.003091
2            서울시 강남구 서울개일초등학교  37.486214  127.057742
3            서울시 강남구 서울개포초등학교  37.486805  127.069977
4            서울시 강남구 서울구룡초등학교  37.481193  127.051755
...                       ...        ...         ...
6315           제주도 제주시 이도초등학교  33.488121  126.531991
6316           제주도 제주시 도련초등학교  33.514019  126.584301
6317           제주도 제주시 삼화초등학교  33.515224  126.577005
6318          제주도 제주시 하귀일초등학교  33.483420  126.415364
6319         서울시 서초구 서울반포초등학교  37.502700  126.991100

[6320 rows x 3 columns]

In [22]:
es_data.to_csv('data/es_data.csv', encoding='cp949', index=False)

In [27]:
diff = set(nav_es['초등학교명']) - set(es_data['학교명'])
diff

{'경기도 서울누원초등학교', '부산시 위봉초등학교', '부산시 좌성초등학교', '서울시 서울반포초등학교', '서울시 서울화양초등학교'}